.section-head-guide {
	background: url("../guide-img/guide1-service-linear-ava.png");
}

/*----Пояснения----*/

.p1 {
	top: 210px;
	left: 735px;
}

.p2 {
	top: 210px;
	left: 454px;
}

.p3 {
	top: 376px;
	left: 755px;
}

.p4 {
	top: 243px;
	left: 216px;
}

.p5 {
	top: 243px;
	left: 972px;
}

.p6 {
	top: 74px;
	left: 204px;
}

.p7 {
	top: 332px;
	left: 555px;
}

.p8 {
	top: 332px;
	left: 685px;
}

.p9 {
	top: 260px;
	left: 540px;
}

.p10 {
	top: 100px;
	left: 548px;
}